#sub_category
{
  /* display:none; */
  height: 460px;
}

.custom_row
{
  height: auto;  
}
.custom_card
{
    width: 350px;
    margin-bottom: 25px;
    display: flex;
}
.p_card
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-title
{
  font-size: medium;
  font-style: italic;
  font-family: serif;
  text-align: center;
}

.fixed-size-img {
  width: 100%;    /* Set your desired width */
  height: 270px; /* Set your desired height */
  object-fit: cover; /*Preserve aspect ratio while covering the specified size */
}
.dropdown-menu.show {
  display: block;
  cursor: pointer!important;
}